/* App.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 2000px;
  margin: 0 auto;
  padding: 20px;
}

/* Navigation menu */
.navigation {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
}

.navigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  display: inline;
  margin-right: 20px;
}

.navigation ul li:last-child {
  margin-right: 0;
}

.navigation ul li a {
  color: #fff;
  text-decoration: none;
  padding: 5px 10px;
}

.navigation ul li a:hover {
  background-color: #555;
  border-radius: 5px;
}

.card{
  align-items: flex-start;
  margin-left: 30px;
  padding: 30px;
}